.icon-top {
    font-size: 160%;
}

#dark .icon-top {
    color: white;
}

#light .icon-top {
    color: #202020;
}

.icon {
    margin-right: 6px;
}

.toolbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px 0px 10px;
    transition: background-color 0.2s ease;
}

.tab {
    display: flex;
    width: 10vw;
    justify-content: space-between;
    padding: 4px 4px 2px 4px;
    border-radius: 5px 5px 0px 0px;
    transition: background-color 0.2s ease;
    text-overflow: ellipsis;

}

#light .tab {
    background-color: #aaadab;

}

#dark .tab {
    background-color: #bab7b6;
}


.tab:hover {
    background-color: rgb(107, 107, 107);
}


#light .tab.active {
    background-color: rgb(227, 227, 227);
}

#dark .tab.active {
    background-color: rgb(232, 232, 232);
}


.tab-bottom {
    display: flex;
}

.plus {
    font-size: 24px;
    margin: 0px 0px 0px 10px;
    color: white;
    border: 'none';
    box-shadow: 'none';
    outline: 'none';

}

#light .plus {
    color: #333333;
    background-color: #D3D3D3;
    border-color: white;
}

#light .plus:hover {
    color: #D3D3D3;
    background-color: #a0a0a0;
}

#dark .plus {
    color: #D3D3D3;
    background-color: #333333;
}

#dark .plus:hover {
    color: #333333;
    background-color: #555555;
}

.unsaved-changes-indicator {
    display: inline-block;
    margin-left: 5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    vertical-align: super;
}

.close-tab {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 20px;
}

.dot {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    margin-top: 6px
}

.close-tab .close-icon {
    cursor: pointer;
    padding: 1px;
    border-radius: 20%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #646464;
    box-sizing: content-box;
    width: 16px;
    height: 16px;
}

.close-tab .close-icon:hover {
    background-color: rgba(127, 127, 127, 0.2);
}

.toolbar-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.character-count-display {
    font-size: 0.9em;
    padding: 2px;
    margin-left: auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

#light .character-count-display {
    color: #000000;
}

#dark .character-count-display {
    color: white;
}

.icon-top {
    margin-right: 6px;
    transition: background-color 0.1s ease-in-out;
    padding: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

#dark .icon-top:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

#light .icon-top:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}